.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: silver;
  height: 50px;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  border: 1px red solid;
}

.welcome-message {
  font-size: 45px;
}

.opening-times {
  font-size: 30px;
}
